@page "/"
<!--Con el page se define una regla de ruteo a la página principal-->

<body>

    <header id="header">

        <div class="center">

            <div id="logo">
                <img src="images/logo.jpg" class="app-logo" alt="Logotipo" />
            </div>

        </div>

    </header>

    <div class="center">
        <h1>
            Nuestros servicios
        </h1>
    </div>

</body>





