@page "/"
<!--Con el page se define una regla de ruteo a la página principal-->

<body>

    <header id="header">

        <div class="center">

            <div id="logo">
                <img src="images/logo.jpg" class="app-logo" alt="Logotipo" />
            </div>

        </div>

    </header>

    <div>
        <section id="contenido">

            <div>
                <br />
                <br />
                <h1>SERVICIOS LE COIFFEUR</h1>
            </div>

            <article class="lavado">
                <br />
                <br />
                <h1 class="subheader">Lavados</h1>
                <br />
                <div class="image-lavado">
                    <img src="images/lavado.gif" alt="lavado">
                </div>
                <br />
                <p>
                    El primero de los servicios, el más importante.
                    Lavarte el cabello previo a un corte o peinado y/o luego de una coloración: hace al inicio y/o la finalización perfecta de tu experiencia en Le Coiffeur.
                    Contamos con las mejores manos en nuestro equipo y una amplia variedad de marcas Premium que te garantizan un momento único.
                    Las grandes marcas de la cosmética argentina, francesa, británica, italiana entre otras, dan garantía de formación para la persona que te lavará el pelo y un producto a medida según deseo y necesidad.
                    Contarás con el asesoramiento preciso sobre tu cuero cabelludo y pelo para lograr la excelencia y confort que necesitas.
                    No te pierdas una de las mejores experiencias en Le Coiffeur.
                </p>
                <br />

            </article>

            <article class="corte">
                <br />
                <br />
                <h1 class="subheader">Cortes</h1>
                <br />
                <div class="image-corte">
                    <img src="images/corte.gif" alt="corte">
                </div>
                <br />
                <p>
                    Tijeras, máquinas, varios filos, precisión, técnica y sobre todo un estilo único hacen fundamental el Corte en Le Coiffeur.
                    ¡Nuestro equipo de profesionales podrá asesorarte y hacer lucir tu pelo con el look ideal! El pelo es el accesorio más importante que tenemos.
                    El Team de Le Coiffeur de corte y peinado está en constante perfeccionamiento sobre nuevas técnicas y tendencias. No dudes en dejarte asesorar.
                    Cada uno de ellos se destaca en poder interpretar tu deseo y adaptarlo para un fácil y práctico día a día.
                    Nuestro corte es diseñado exclusivamente para vos y tu vida cotidiana.
                </p>
                <br />

            </article>

            <article class="peinados">
                <br />
                <br />
                <h1 class="subheader">Peinados</h1>
                <br />
                <div class="image-peinados">
                    <img src="images/peinado.gif" alt="peinado">
                </div>
                <br />
                <p>
                    Existe una amplia forma de llegar a tu peinado, Brushing, planchitas, ondas, y muchos más.
                </p>
                <br />

            </article>

            <article class="coloracion">
                <br />
                <br />
                <h1 class="subheader">Coloracion</h1>
                <br />
                <div class="image-coloracion">
                    <img src="images/coloracion.gif" alt="coloracion">
                </div>
                <br />
                <p>
                    El servicio de color es un universo infinito dentro de nuestro salón.
                    Nuestra marca cuenta con el mejor equipo de coloristas del país. Nos perfeccionamos constantemente para poder abordar todas tus necesidades.
                    Te asesoramos de una manera minuciosa para poder aconsejarte sobre qué es lo que tu cabello necesita.
                    Cuáles son los pasos que llevara tu pelo para llegar al objetivo que deseas.
                    Nuestra misión fundamental es mantener tu pelo sano y que luzca intacto, garantizamos tu felicidad absoluta.
                    Como expresamos anteriormente, el universo de color es inmenso e infinito, por eso y para orientarte, te invitamos a que leas atentamente cada una de las descripciones de toda nuestra carta de servicios en color que tenemos para lograr satisfacer tus necesidades.
                </p>
                <br />

            </article>

        </section>
    </div>

    <footer id="footer">
        <div class="center">
            <br />
            <p>
                &copy; Le Coiffeur
            </p>
        </div>
    </footer>

</body>





