@page "/fetchdata"
@using Syncfusion.Blazor.Calendars
@inject HttpClient Http

<h1>RESERVAS</h1>
<p>Cuando un cliente hace una reserva, la reserva se confirma inmediatamente. Es posible que los clientes puedan cancelar sus reservas a traves del e-mail de confirmacion.</p>


