@page "/nuevo-turno"
@inject HttpClient Http
@inject NavigationManager UriHelper

<h3>Nuevo Turno</h3>

<FormularioTurno TextoBoton="Crear Turno" OnValidSubmit="NuevoTurno" Turnos="@turnos"></FormularioTurno>

@code {
    Turnos turnos = new Turnos();

    async Task NuevoTurno() {
        await Http.PostAsJsonAsync("turno", turnos);
        UriHelper.NavigateTo("indice-turnos");
    }
}
